<html>
<head>
    <link href="index.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Connexion</title>
</head>
<body>
        <a href="javascript:history.back()">
        <div class="gomenu">
        <h1>Retour</h1>
        </div>
        </a>
    <div id="corps">
        <table>
            <% infoavion.forEach(function(row){ %>
            <h1> Detail de l'avion <%= row.immatriculation %> de type <%= row.type %> actuelement a l'<%= row.nom %></h1>
           <% }) %>
        </table><br>
        <table>
            <tr>
                <td>Nom du produit</td>
                <td>Quantité</td>
            </tr>
            <% lsproduit.forEach(function(row){ %>
            <tr>
                <td><%= row.nom %></td>
                <td><%= row.qte %></td>
            </tr>
            <% }) %>
        </table>
    </div>
    <div id="corps">
        <table>
            <tr>
                <td>Nom du produit</td>
                <td>Quantité a ajouter</td>
            </tr>
            <% produits.forEach(function(row){ %>
            <tr>
                <td><%= row.nom %></td>
                <form method="post" action="/ajouterqteav">
                <td><input name="nombre" type="number" id="nombre"/></td>
                <% infoavion.forEach(function(row){ %>
                <input type="hidden"  name="idavion"  value="<%= row.id %>">
                <input type="hidden"  name="idaeroport"  value="<%= row.idaeroport %>">
                <% }) %>
                <input type="hidden"  name="idduproduit"  value="<%= row.idproduits %>">
                <td><input type="submit" name="actions" value="Ajouter"/></td>
                </form>
            </tr>
            <% }) %>
        </table>
    </div>
            <footer>
            <hr />
            Copyright © 2015 - Massive Technologies - Tous droits réservés.
            <hr />
        </footer>
</body>
</html>