<!DOCTYPE html>
<html>
<head>
    <link href="index.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Connexion</title>
</head>
<body>
            <a href="/admin">
        <div class="gomenu">
        <h1>Menu</h1>
        </div>
        </a>
    <div id="corps">
        <h1> Liste des avion </h1><br><br>
        <table>
            <tr>
                <td>ID de l'avion</td>
                <td>     </td>
                <td>Type de l'avion</td>
                <td>     </td>
                <td>Immatriculation</td>
                <td>     </td>
                <td>Nom de l'aeroport</td>
            </tr>
            <% msg.forEach(function(row){ %>
            <tr>
                <td><%= row.id %></td>
                <td>     </td>
                <td><%= row.type %></td>
                <td>     </td>
                <td><%= row.immatriculation %></td>
                <td>     </td>
                <td><%= row.nom %></td>
                <td>     </td>
                <td>
                    <form method="post" action="/aviondetail">
                    <input type="hidden"  name="avion"  value="<%= row.id %>">
                    <input type="submit" value="Voir" />
                    </form>
                </td>
                <td>
                    <form method="post" action="/aviongere">
                    <input type="hidden"  name="avion"  value="<%= row.id %>">
                    <input type="submit" value="Gere" />
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
            </div>
                <footer>
            <hr />
            Copyright © 2015 - Massive Technologies - Tous droits réservés.
            <hr />
        </footer>
</body>
</html>